Source: dicopp
Section: python
Priority: optional
Maintainer: Botescu Costin <costin.botescu@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 4.5.0
Homepage: https://github.com/colin-i/dico
X-Python3-Version: >= 3.2

Package: dicopp
Architecture: all
Multi-Arch: foreign
Depends: eiskaltdcpp-daemon, gir1.2-gtk-4.0, gir1.2-glib-2.0, ${misc:Depends}, ${python3:Depends}
Description: DC++ client
